#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


#title_home{
  margin-top: 5vh;
}

.size-big{
  font-size: 6vh;
}

.size-medium{
  font-size: 5vh;
}

.size-small{
  font-size: 3vh;
}

#txt_usuario{
  margin-left: 5vh;
}

#button-home{
  height: 3vh;
  font-size: 2vh;
  margin-left: 5vh;
  margin-right: 5vh;
}