<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <div id="div-title">
      <h5 class="big-size ">SkeletonAPP</h5>
      <h5 class="short-size" style="margin-top: 2vh;">Aqui comienza todo</h5>
    </div>
    <form action="" method="post">
      <div id="div-login">
        <h1 class="mid-size">Bienvenido!</h1>
        <ion-item style="margin-top: 2vh;">
          <ion-input class="mid-size" label="Usuario" labelPlacement="floating"
            placeholder="Ingrese nombre de usuario"></ion-input>
        </ion-item>
        <ion-item style="margin-top: 1vh;">
          <ion-input class="mid-size" label="Password" labelPlacement="floating" placeholder="Ingrese contraseña"
            type="password"></ion-input>
        </ion-item>
        <ion-button href="home" id="btn-agregar" size="large" expand="block">Ingresar</ion-button>
      </div>
      <div style="margin-top: 5vh;">
        <a class="short-size" href="home">Crea tu cuenta gratis</a>
      </div>
    </form>
  </div>
</ion-content>