.big-size{
    font-size: 6vh;
    margin-bottom: 3vh;
}
.mid-size{
    font-size: 4vh;
}
.short-size{
    font-size: 3vh;
}
#div-title{
    margin: 5vh;
}

#div-login{
    margin-top: 6vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
#btn-agregar{
    font-size: 2vh;
    margin-top: 5vh;
}